//Header
.header {
  padding: 15px 15px;
  background-color: transparent;
  transition: all 0.5s;
  @include bp(tablet-sm) {
    // background-color: #0f4853;
    padding: 10px 0;
  }
}

.header--wrapper {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  width: 100%;
  // border: 1px solid rgba(255, 255, 255, 0.5);
  // backdrop-filter: blur(24.5px);
  // -webkit-backdrop-filter: blur(24.5px);
  // border-radius: var(--s-40);

  // background-color: rgba(255, 255, 255, 0.4);
}
body {
  &:not(.home) {
    header {
      .header--wrapper {
        clip-path: none;
      }
    }
  }
}

//
.navbar-brand-inner {
  @include size(5rem);
  background-color: #f13c46;
  font-size: 18px;
  font-weight: 700;
  border-radius: 40px;
  display: grid;
  place-items: center;
  position: relative;
  color: $white;
  z-index: 4;
  @include md {
    @include size(3rem);
  }
}
